body{
    min-width: 760px;
    height: 100vw;
    background: grey;
}

h2 {
    text-align: center;
    background: gold;
    margin-left: 40%;
    margin-right: 40%;
}

h3 {
    text-align: center;
    padding-top: 10px;
}

button {
    background: lightgoldenrodyellow;
    border-radius: 10px;
}

button:hover {
    color: white;
    background: darkgoldenrod;
}

.container{
    margin: 5vw auto 5vw auto;
    height: 50vw;
    width: 80%;
    text-align: center;
    max-width: 1200px;
    min-height: 360px;
}

#main_title_row{
    height: 10%;
    margin: 2% 0 2% 0;
    text-align: left;
    max-height: 50px;
}

#center_col{
    padding: 1% 0 1% 0;
}

#title_row{
    height: 10%;
    font-size: 3vw;
    background: gold;
}

#addNewBoardBtn{
    text-align: right;
}

#card-row{
    height: 68%;
    background: gold;
}

#modal_container, #delete_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 1px powderblue solid;
    background: darkgoldenrod;
    color: deepskyblue;
    text-align: center;
    padding: 5px;
    font-size: large;
}

input {
    color: deepskyblue;
}

.btn {
    background: lightgoldenrodyellow;
    border-radius: 10px;
    color: black;
}

.btn:hover {
    background: darkgoldenrod;
}