body{
    min-width: 760px;
    height: 100vw;
}

.container{
    margin: 5vw auto 5vw auto;
    height: 50vw;
    width: 80%;
    text-align: center;
    max-width: 1200px;
    min-height: 360px;
}

#main_title_row{
    height: 10%;
    margin: 2% 0 2% 0;
    text-align: left;
    max-height: 50px;
}

#center_col{
    padding: 1% 0 1% 0;
}

#title_row{
    height: 10%;
    font-size: 3vw;
}

#top_button{
    text-align: right;
}

#card-row{
    height: 68%;
}

#modal_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}