{% extends 'layout.html' %}

{% block content %}

        <div class="" id="container">
            <div class="row">
                <div class="col">
                    <h2>ProMan</h2>
                </div>
                <div class="col" id="addNewBoardBtn">
                    <button ><strong>+</strong> New Board </button>
                </div>
            </div>
            {% for board in boards %}
                <div class="row" id="main_title_row">
                    <div class="col h-100" id="center_col">
                        {{ board['title'] }}
                        <button type="button" class="rename" data-id="{{ board['id'] }}"
                            data-title="{{ board['title'] }}"> Rename board </button>
                        <button type="button" class="delete" data-id="{{ board['id'] }}">Delete board </button>
                        <button type="button" class="addNewCardBtn" data-board-id = {{ board['id'] }}> Create New Card </button>
                    </div>
                </div>
                <div class="row" id="title_row">
                    <div class="col border border-dark text-center">
                        New
                    </div>
                    <div class="col border border-dark text-center">
                        In Progress
                    </div>
                    <div class="col border border-dark text-center">
                        Testing
                    </div>
                    <div class="col border border-dark text-center">
                        Done
                    </div>
                </div>
                <div class="row" id="card-row">
                    <div class="col dragula-container border border-dark">
                        <ul></ul>
                    </div>
                    <div class="col dragula-container border border-dark">
                        <ul></ul>
                    </div>
                    <div class="col dragula-container border border-dark">
                        <ul></ul>
                    </div>
                    <div class="col dragula-container border border-dark">
                        <ul></ul>
                    </div>
                </div>
            {% endfor %}
            </div>

    {% include 'modal.html' %}
    {% include 'delete_modal.html' %}
    {% include 'login_modal.html' %}
    {% include 'register_modal.html' %}

{% endblock %}