<div id="modal_container">
    <span id="modal_title">Enter board title</span>
    <form action="/" method="post" id="board_form">
        <label for="board_title">Title: </label>
        <input id="board_title" name="board_title">
        <input type="hidden" class="hidden" name="hidden" value="none">
        <button type="submit">Send</button>
        <button type="button" id="cancel">Cancel</button>
    </form>
</div>

<div id="modal_for_add_card">
    <span id="modal_card_title">Enter board title</span>
    <form action="/" method="post" id="card_form">
        <label for="card_title">Title: </label>
        <input id="card_title" name="card_title">
        <input type="hidden" id="board_id_for_new_card" name="board_id_for_new_card" value="none">
        <button type="submit">Send</button>
        <button type="button" id="cancel_for_card_modal">Cancel</button>
    </form>
</div>