<div id="modal_container">
    <span id="modal_title"><h3>Enter board title</h3></span><br>
    <form action="/" method="post" id="board_form">
        <label for="board_title">Title: </label>
        <input id="board_title" name="board_title"><br>
        <input type="hidden" class="hidden" name="hidden" value="none"><br>
        <button type="submit">Send</button>
        <button type="button" id="cancel">Cancel</button>
    </form>
</div>

<div id="modal_for_add_card">
    <span id="modal_card_title">Enter card title</span>
    <form action="/" method="post" id="card_form">
        <label for="card_title">Title: </label>
        <input id="card_title" name="card_title">
        <input type="hidden" id="board_id_for_new_card" name="board_id_for_new_card" value="none">
        <button type="submit">Send</button>
        <button type="button" id="cancel_for_card_modal">Cancel</button>
    </form>
</div>

<div id="modal_for_add_column">
    <span id="modal_column_title">Enter column title</span>
    <form action="/" method="post" id="column_form">
        <label for="column_title">Title: </label>
        <input id="column_title" name="column_title">
        <input type="hidden" id="board_id_for_new_column" name="board_id_for_new_column" value="none">
        <button type="submit">Send</button>
        <button type="button" id="cancel_for_column_modal">Cancel</button>
    </form>
</div>

<div id="private_modal">
    <span id="modal_private_title"><h3>Enter board title</h3></span><br>
    <form action="/" method="POST" id="private_form">
        <label for="private_title">Title: </label>
        <input id="private_title" name="private_title"><br>
        <input type="hidden" name="privateHidden" value="none" id="privateHidden"><br>
        <input type="hidden" class="hidden" name="hidden" value="none"><br>
        <input type="hidden" class="hidden" name="board_title" value="none"><br>
        <button type="submit">Send</button>
        <button type="button" id="cancelPrivate">Cancel</button>
    </form>
</div>